################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Github1/.vs/Github1/v16/Server/sqlite3/db.lock
